<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appUrl" value="https://gmail.com"/>
    <add key="username" value="nag022@gmail.com" />
    <add key="password" value="abcd" />
    <add key="ExecutionType" value="LOcal" />
    <add key="Browser" value="Chrome" />
    <add key="EnvironmentName" value="DEV" />
    <add key="ApplicationName" value="CDK GLOBAL" />
    <add key="BrowserVersion" value="90" />
    <add key="OS" value="Windows 10" />
    <!--add key="SaucelabsUserName" value="" /> -->
    <add key="SaucelabsAccessKey" value="" />
    <add key="SaucelabsURL" value="http://ondemand.saucelabs.com/wd/hub" />
    <add key="ScreenResolution" value="1280x1024" />
  </appSettings>

</configuration>